<div class="bar bar-header">
  <div class="h1 title">Nereid Project</div>
  <button  show-if-auth class="button icon-right ion-log-out button-outline" nereid-auth ng-click="logout()"></button>
</div>
<ion-content class="padding" style="margin-top:30px"hide-if-auth>
<div class="list">
  <label class="item item-input">
  	<span class="input-label">Username</span>
	<input type="email" required name="email" ng-model="user.email">
  </label>
  <label class="item item-input">
  	<span class="input-label">Password</span>
    <input type="password" name="password" required ng-model="user.password">
  </label>
</div>
<button class="button button-full button-positive" ng-click="submit()">
  Submit
</button>
</ion-content>
<!-- Account Info for Logged in User -->
  <ion-content class="has-header" scroll="false" show-if-auth> 
  <div class="list card">
    <div class="item item-thumbnail padding">
    <center>
    <img src="{{ userInfo.image.url }}" height="160px" width="160px">
    <h2>{{ userInfo.displayName }}</h2>
    <p> {{ userInfo.email }}</p>
    </center>
    </div>
    <ion-list>
      <ion-item ng-repeat="perm in userInfo.permissions">{{ perm }}</ion-item>
    </ion-list>
  </div>
  </ion-content>


